@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Poppins:wght@100;300;400;500;600&display=swap');

 :root{
    --green:#27ae60;
--dark-color:#219150;

--border: .1rem solid rgba(0,0,0, .1);
--border-hover: .1rem solid var(--black);
--box-shadow:0 .5rem 1rem rgba(0,0,0, .1); }



*{
    font-family:'Arial Rounded MT Bold',sans-serif;
    margin:0;padding:0;
    box-sizing:border-box;
    outline:none;border:none;
    text-decoration:none;
    text-transform:capitalize;
    transition:all .2s linear;
    transition:width none;
    font-size:30px;
    text-align:center;
    
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-padding-top:5rem;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
       width:1rem;
}
html::-webkit-scrollbar-track{
     background:transparent;
}
html::-webkit-scrollbar-thumb{

 background:var(--black);
}




.header .header-1{
    background: url("image/b10.png") no-repeat;
    color:white;

    background-size: cover;
    background-position:center;

 padding:1.5rem 9%;
 display:flex;
 align-items:center;
 justify-content: space-between;
}
.header .header-1 .logo{
 font-size:2.5rem;
 font-weight:bolder;
 color:white;
}

.header .header-1 .logo i{
color:white;
}
.header .header-1 .logo :hover{
    color:green; 
}
.header .header-1 .logo i:hover{
    color:green; 
}


.header .header-1 .search-form{
 width:50rem;
 height:5rem;
border:var(--border);
overflow:hidden;
background:white;
display:flex;
align-items:center;
border-radius: .5rem;

}

.header .header-1 .search-form input{
font-size:1.6rem;
padding: 0 1.2rem;
height:100%;
width:100%;
text-transform:none;
color:black;
text-align: left;

}

.header .header-1 .search-form button{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:Gray;
    cursor: pointer;
    background-color: white;
}
.header .header-1 .search-form button:hover{
    color:green;

}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 3rem;
    margin-left: 1.5rem;
    color: white;
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:yellow;
}
#search-btn{
    display:none;
}
.header .header-2{
    color:#fff;
    padding: 15px;
    background-color:#043504;  
    text-align:center;
    font-size:2.5rem;
    font-weight:bolder;
    position: sticky;

}
.header .header-3{
    
    color:black;
    padding: 150px 50px 280px;
    background: url("image/b8.png") no-repeat;
 

    background-size: cover;
    background-position:center;
    text-align:right;
    font-size:2rem;
    font-weight:bolder;
   
}
.header .header-2 .active{
    position: fixed;
    top:0;left:0;right:0;
    z-index: 1000;
}

 
/* home sec of book slider */
.slider_container{
    background: url("image/b6.png") no-repeat;
    padding-top: 50px;
    padding-bottom: 15px;
    padding-right: 120px;
    padding-left: 120px;
    color:white;
    background-size: cover;
    background-position:center;

}
img_box{
    
    max-width: 25;
    padding: 5px;
}
.slider_container .container{
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}
.slider_container .container .swiper .slider_container .swiper-slide .img_box{
    height:250rem;

}
.slider_container .container .swiper .slider_container .swiper-slide{
flex:1 1 42rem;
text-align:left;
margin-top:2rem;

}



/* media queries */
 
@media(max-width:991px){
    html{
        font-size: 55%;
    }
header .header-1{
    padding: 2rem;
}
section{
    padding:3rem 2rem;
}
}

@media(max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
.header .header-2{
    display:fixed;
    
}
#search-btn{
    display:inline-block;
}

.header .header-1{
    box-shadow: var(--box-shadow);
    position: relative;
}
.heade .header-1 .search-form{
    position: absolute;
    top:-115%; right:2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
}
.heade .header-1 .search-form .active{
    top:115%; 
}


}

@media(max-width:450px){
html{
    font-size: 50%;
}
}






/* lodar */
.loader-con{
    position: fixed;
    top: 0;left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader-con .active{
    display:  none;
}
.loader-con img{
    height: 30rem;
}










